@model IEnumerable<Magnets.Models.Community>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script type="text/javascript">
        $(init);

        function init() {
            $('#makeMeDraggable').draggable({
                containment: '#content',
                cursor: 'move',
                snap: '#content'
            });
        }
    </script>
}

<h2>Index</h2>

<!-- Drag and Drop Functionality -->
<style>
    #makeMeDraggable {
        width: 300px;
        height: 300px;
        background: red;
    }
</style>

<div id="content" style="height: 400px;">
    <div id="makeMeDraggable"></div>
</div>

<!-- Drag and Drop Functionality -->

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommunityID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CommunityID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CommunityID })
            </td>
        </tr>
    }

</table>
